<%= form_for(@email_submission) do |f| %>
  <% if @email_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_submission.errors.count, "error") %> prohibited this email_submission from being saved:</h2>

      <ul>
      <% @email_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email_address, :placeholder => "INPUT EMAIL" %>
  </div>
  <div class="actions">
    <%= image_submit_tag 'send_button.png' %>
  </div>
<% end %>
