<div id="goat_mail">
	<%= image_tag 'logo.png', :id => 'goats_logo' %>

	<h1>Leave your email to access exclusive footage.</h1>
	<h2>we'll notify you when it's available.</h2>

	<%= render 'form' %>

	<%= image_tag 'goat.png', :id => 'goat_on_leash' %>
	<%= link_to image_tag('shelby_logo.png'), 'http://shelby.tv', :id => 'shelby_logo' %>
	<%= image_tag 'trex.png', :id => 'trex' %>
</div>